{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Vehicles{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('vehicles.register') }}">Register New Vehicle</a>
{% endif %}
<script src='https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js'></script>
{% endblock %}

{% block content %}
<article class="image">
  <!-- <div>
    <img src="static/images/graph.png" alt="Chart" height="auto" width="100%">
  </div> -->
  <canvas id="chart_overview" width="600" height="400"></canvas>
  <script>
    var data = {
      labels: [
        {% for item in labels %}
    "{{ item }}",
      {% endfor %}
	    ],
    datasets: []
  };

    {% for vehicle in vehicles %}
    var color = "hsl({{vehicle['id'] * (360 / vehicles|length % 360)}}, 75%, 50%)" // Based on https://stackoverflow.com/questions/10014271/generate-random-color-distinguishable-to-humans
    var greedyColor = "hsl({{vehicle['id'] * (360 / vehicles|length % 360)}}, 25%, 50%)"
    var vehicleData = {
      label: "{{vehicle['nickname']}}",
      fill: true,
      backgroundColor: color,
      pointRadius: 0,
      pointHoverRadius: 10,
      stepped: 'before',
      yAxisID: "vehicle_y",
      data: [
        {% for item in values.get(vehicle['id']) %}
    "{{ item }}",
      {% endfor %}
    ]
    };

    var vehicleGreedyData = {
      label: "Greedy {{vehicle['nickname']}}",
      fill: true,
      backgroundColor: greedyColor,
      pointRadius: 0,
      pointHoverRadius: 10,
      stepped: 'before',
      yAxisID: "vehicle_greedy_y",
      data: [
        {% for item in greedy_values.get(vehicle['id']) %}
    "{{ item }}",
      {% endfor %}
    ]
    };

    data.datasets.push(vehicleData);
    data.datasets.push(vehicleGreedyData);
    {% endfor %}

    var targetData = {
      label: "Target Load",
      borderColor: "hsl(100, 100%, 0%)",
      backgroundColor: "hsl(100, 100%, 50%, 0.1)",
      fill: false,
      pointRadius: 0,
      pointHoverRadius: 10,
      stepped: "before",
      data: [
        {% for item in target %}
    "{{ item }}",
      {% endfor %}
    ]};

    var loadData = {
      label: "Grid Base Load",
      borderColor: "hsl(120, 100%, 50%, 0.2)",
      backgroundColor: "hsl(120, 100%, 50%, 0.2)",
      fill: true,
      pointRadius: 0,
      pointHoverRadius: 10,
      stepped: 'before',
      data: [
        {% for item in load %}
    "{{ item }}",
      {% endfor %}
    ]};

    data.datasets.push(loadData)
    data.datasets.push(targetData)

    var mychart = document.getElementById("chart_overview").getContext('2d');
    new Chart(mychart, {
      type: "line",
      data: data,
      options: {
        plugins: {
          legend: {
            display: true
          },
          title: {
            display: true,
            text: "Schedule for all vehicles"
          }
        },
        scales: {
          y: {
            type: "linear",
            position: "left",
            stacked: true,
            min: 0,
            max: 160,
            title: {
              display: true,
              text: "Electrical Load (kW)"
            }
          },
          vehicle_y: {
            type: "linear",
            position: "left",
            stacked: true,
            min: 0,
            max: 160,
            display: false
          },
          vehicle_greedy_y: {
            type: "linear",
            position: "left",
            stacked: true,
            min: 0,
            max: 160,
            display: false
          },
          x: {
            title: {
              display: true,
              text: "Time (hours)"
            },
            ticks: {
              callback: function (value, index) {
                if (this.getLabelForValue(value) % 1 === 0) {
                  return this.getLabelForValue(value);
                }
              }
            }
          }
        }
      }
    });

  </script>
  <script>
    function showLoader() {
      var loader = document.getElementById("loader");
      loader.style.display = 'block'
    }  
  </script>
  <form action="{{url_for('vehicles.overview')}}" method="POST">
    <input type="submit" value="Calculate New Schedule" onclick="showLoader()">
  </form>
  <div class="loader" id="loader"></div>
</article>

{% for vehicle in vehicles %}
<article class="post">
  <header>
    <div>
      <h1>{{ vehicle["nickname"] }}</h1>
      <div class="about">Owner: {{vehicle["userId"]}}</div>
      <form style="float: left" action="{{url_for('vehicles.update')}}" method="GET">
        <input type="hidden" id="vehicleId" name="vehicleId" value="{{vehicle['id']}}">
        <input type="submit" value="Update">
      </form>
      <form style="float: left;" action="{{url_for('vehicles.delete')}}" method="POST">
        <input type="hidden" id="vehicleId" name="vehicleId" value="{{vehicle['id']}}">
        <input type="submit" value="Delete">
      </form>
    </div>
  </header>
  <p class="body">
  <table>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Model</td>
      <td>{{vehicle["model"]}}</td>
    </tr>
    <tr>
      <td>Manufacturer</td>
      <td>{{vehicle["manufacturer"]}}</td>
    </tr>
    <tr>
      <td>Battery Capacity</td>
      <td>{{vehicle["battery_cap"]}}</td>
    </tr>
    <tr>
      <td>Minimum Charge Rate</td>
      <td>{{vehicle["min_chr_rt"]}}</td>
    </tr>
    <tr>
      <td>Maximum Charge Rate</td>
      <td>{{vehicle["max_chr_rt"]}}</td>
    </tr>
    <tr>
      <td>IEC61851 Support</td>
      <td>
        {% if vehicle['iec61851'] %}
        YES
        {% else %}
        NO
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>ISO15118 Support</td>
      <td>
        {% if vehicle['iso15118'] %}
        YES
        {% else %}
        NO
        {% endif %}
      </td>
    </tr>
  </table>

  <canvas id="chart_{{vehicle['id']}}" width="600" height="400"></canvas>
  <script>
    // chart data
    var color = "hsl({{vehicle['id'] * (360 / vehicles|length % 360)}}, 75%, 50%)" // Based on https://stackoverflow.com/questions/10014271/generate-random-color-distinguishable-to-humans
    var data = {
      labels: [
        {% for item in labels %}
    "{{ item }}",
      {% endfor %}
	    ],

    datasets: [{
      label: "{{vehicle['nickname']}}",
      fill: true,
      backgroundColor: color,
      pointRadius: 0,
      pointHoverRadius: 10,
      stepped: 'before',
      data: [
        {% for item in values.get(vehicle['id']) %}
            "{{ item }}",
    {% endfor %}
    ]}
    ]}

    // get line chart canvas
    var mychart = document.getElementById("chart_{{vehicle['id']}}").getContext('2d');

    // draw line chart
    new Chart(mychart, {
      type: "line",
      data: data,
      options: {
        plugins: {
          legend: {
            display: false
          },
          title: {
            display: true,
            text: "Schedule for {{vehicle['nickname']}}"
          }
        },
        scales: {
          x: {
            ticks: {
              callback: function (value, index) {
                if (this.getLabelForValue(value) % 1 === 0) {
                  return this.getLabelForValue(value);
                }
              }
            }
          }
        }
      }
    });

  </script>
  </p>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}

{% block header2 %}
<h1>{% block title2 %}Unscheduled Vehicles{% endblock %}</h1>
{% endblock %}
{% for vehicle in vehicles_unscheduled %}
<article class="post">
  <header>
    <div>
      <h1>{{ vehicle["nickname"] }}</h1>
      <div class="about">Owner: {{vehicle["userId"]}}</div>
      <a href="{{url_for('vehicles.update')}}" type="button"> Update </a>
      <form style="float: left;" action="{{url_for('vehicles.delete')}}" method="POST">
        <input type="hidden" id="vehicleId" name="vehicleId" value="{{vehicle['id']}}">
        <input type="submit" value="Delete">
      </form>
    </div>
  </header>
  <p class="body">
  <table>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Model</td>
      <td>{{vehicle["model"]}}</td>
    </tr>
    <tr>
      <td>Manufacturer</td>
      <td>{{vehicle["manufacturer"]}}</td>
    </tr>
    <tr>
      <td>Battery Capacity</td>
      <td>{{vehicle["battery_cap"]}}</td>
    </tr>
    <tr>
      <td>Minimum Charge Rate</td>
      <td>{{vehicle["min_chr_rt"]}}</td>
    </tr>
    <tr>
      <td>Maximum Charge Rate</td>
      <td>{{vehicle["max_chr_rt"]}}</td>
    </tr>
    <tr>
      <td>IEC61851 Support</td>
      <td>
        {% if vehicle['iec61851'] %}
        YES
        {% else %}
        NO
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>ISO15118 Support</td>
      <td>
        {% if vehicle['iso15118'] %}
        YES
        {% else %}
        NO
        {% endif %}
      </td>
    </tr>
  </table>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}