{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Register vehicle{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <label for="nickname">Nickname</label>
  <input name="nickname" id="nickname" value="Vehicle" required>
  <label for="manufacturer">Manufacturer</label>
  <input name="manufacturer" id="manufacturer" value="Tesla">
  <label for="model">Model</label>
  <input name="model" id="model" value="Model 3">
  <label for="iec61851">IEC 61851</label>
  <input type="checkbox" name="iec61851" id="iec61851" Checked>
  <label for="iso15118">ISO 15118</label>
  <input type="checkbox" name="iso15118" id="iso15118" Checked>
  <label for="min_chr_rt">Minimum Charge Rate (MWh)</label>
  <input type="number" name="min_chr_rt" id="min_chr_rt" value=4>
  <label for="max_chr_rt">Maximum Charge Rate</label>
  <input type="number" name="max_chr_rt" id="max_chr_rt" value=22>
  <label for="battery_cap">Battery Capacity</label>
  <input type="number" name="battery_cap" id="battery_cap" value="82">
  <label for="toa">Time of Arrival</label>
  <input type="time" list="times" name="toa" id="toa" step="900" , value="08:00">
  <label for="tod">Time of Departure</label>
  <input type="time" list="times" name="tod" id="tod" step="900" , value="16:00">
  <label for="soc">State of Charge (Upon arrival)</label>
  <input type="number" min="0" max="100" name="soc" id="soc" value="0">
  <label for="soc_req">State of Charge (Upon departure)</label>
  <input type="number" min="0" max="100" name="soc_req" id="soc_req" value="100">
  <input type="submit" value="Register">
</form>

<!-- Since the time picker cannot specify step size...-->
<datalist id="times">
  <option value="00:00:00">
  <option value="01:00:00">
  <option value="02:00:00">
  <option value="03:00:00">
  <option value="04:00:00">
  <option value="05:00:00">
  <option value="06:00:00">
  <option value="07:00:00">
  <option value="08:00:00">
  <option value="09:00:00">
  <option value="10:00:00">
  <option value="11:00:00">
  <option value="12:00:00">
  <option value="13:00:00">
  <option value="14:00:00">
  <option value="15:00:00">
  <option value="16:00:00">
  <option value="17:00:00">
  <option value="18:00:00">
  <option value="19:00:00">
  <option value="20:00:00">
  <option value="21:00:00">
  <option value="22:00:00">
  <option value="23:00:00">
</datalist>
{% endblock %}