{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Update vehicle{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <input type="hidden" name="vehicleId" id="vehicleId" , value={{vehicleId}}>
  <label for="toa">Time of Arrival</label>
  <input type="time" list="times" name="toa" id="toa" step="900">
  <label for="tod">Time of Departure</label>
  <input type="time" list="times" name="tod" id="tod" step="900">
  <label for="soc">State of Charge (Upon arrival)</label>
  <input type="number" min="0" max="100" name="soc" id="soc" value="50">
  <label for="soc_req">State of Charge (Upon departure)</label>
  <input type="number" min="0" max="100" name="soc_req" id="soc_req" value="50">
  <input type="submit" value="Update">
</form>
<!-- Since the time picker cannot specify step size...-->
<datalist id="times">
  <option value="00:00:00">
  <option value="01:00:00">
  <option value="02:00:00">
  <option value="03:00:00">
  <option value="04:00:00">
  <option value="05:00:00">
  <option value="06:00:00">
  <option value="07:00:00">
  <option value="08:00:00">
  <option value="09:00:00">
  <option value="10:00:00">
  <option value="11:00:00">
  <option value="12:00:00">
  <option value="13:00:00">
  <option value="14:00:00">
  <option value="15:00:00">
  <option value="16:00:00">
  <option value="17:00:00">
  <option value="18:00:00">
  <option value="19:00:00">
  <option value="20:00:00">
  <option value="21:00:00">
  <option value="22:00:00">
  <option value="23:00:00">
</datalist>
{% endblock %}